.plate0 {
  padding-top: 100px;

  h1 {
    margin-left: 200px;
    position: relative;
    color: #999;
    line-height: 1;
    //font-size: 40px;

    strong {
      display: block;
      color: #000
    }
  }

  .logo {
    content: "";
    display: block;
    width: 150px;
    height: 100px;
    background: url(../img/logo.svg) top left no-repeat;
    background-size: contain;
    font-weight: 700;
    font-size: 120px;
    color: #999;
    line-height: 120px;
    margin-bottom: 20px;
    margin-left: -3px;
    margin-left: 200px;
    position: relative;
    -webkit-transition: all 1s ease-in-out 0s;

    .step1 & {
      margin-left: 400px;
    }
  }
}
