extends ./includes/_page-head

block vars
  - var page = '404'

block content
  
  .wrap-404
    
    .content-404
      h1 This is a <span>404</span> page ¬
      
      p You are here because you clicked a dead link or typed something stupid into the address bar.
      
      p Some creative-types use this space as a place for artistic expression. Maybe some illustrations. Maybe a funny .gif or poem or something.
      
      p But that's not my game. I'm not that guy.
      
      p Fuck that, use the navigation.
