extends includes/_page-head

block vars
  - var page = 'home'

block content
  
  .flex-floaty
    
    .container
      
      .row
        .col-11.pull-1.tagline-container DESIGNER / THINKER / MAKER
        
      
      .row
        .col-11.pull-1.col-d-6.push-d-1.title-container
          .tn-title
            include ./images/title-tn.svg
      
      .row
        .push-1.col-11.push-d-4.col-d-8
          //img.fit-img.hero-image(src="images/travis-face@2x.jpg")
          picture
            source(media="(min-width: 800px)" srcset="images/travis-face@2x.jpg")
            source(media="(min-width: 465px)" srcset="images/travis-face.jpg")
            img.fit-img.hero-image(src="images/travis-face.jpg" alt="Travis Neilson")
      
      .row
        .col-8.push-2.pull-2.col-d-5.push-d-1.pull-d-6
          p.lead
            span I design search at Google and try to share what I learn by <a href="/videos" class="special-link" onclick="ga('send', 'event', 'Home Paragraph Menu', 'Click', 'Videos');">making videos</a>, <a href="/speaking" class="special-link" onclick="ga('send', 'event', 'Home Paragraph Menu', 'Click', 'Speaking');>giving talks</a>, <a href="/podcasts" class="special-link" onclick="ga('send', 'event', 'Home Paragraph Menu', 'Click', 'Podcasts');>recording podcasts</a>, &amp; <a href="/writings" class="special-link" onclick="ga('send', 'event', 'Home Paragraph Menu', 'Click', 'Writings');>writing things down</a>.
      
      .row
        .col-8.push-2.pull-2.col-d-5.push-d-1.pull-d-6
          .social-icons
            .social-icon: a(href="https://www.behance.net/travisneilson")
              include ./images/icon-behance.svg
            .social-icon: a(href="https://www.instagram.com/travisneilson/")
              include ./images/icon-instagram.svg
            .social-icon: a(href="mailto:travisneilson@gmail.com")
              include ./images/icon-mail.svg
            .social-icon: a(href="/more")
              include ./images/icon-more.svg
      
      .section-spacer(style="height: 30px")
