html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.no-click {
  pointer-events: none; }

.hide {
  display: none; }

html,
body {
  height: 100%; }

.container {
  height: 100%;
  background-color: #fff;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  position: relative; }

a {
  color: #007aff;
  text-decoration: none; }

header {
  background: #f8f8f8;
  padding: 15px;
  border-bottom: solid 1px #b2b2b2;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  header .header-right a {
    margin-left: 20px; }

.icon {
  display: inline-block;
  vertical-align: middle; }
  .icon.icon--angle-back {
    height: 21px;
    width: 13px;
    margin-right: 5px;
    margin-top: -3px; }
  .icon.icon--share {
    height: 26.5px;
    width: 19px; }
  .icon.icon--list {
    height: 13px;
    width: 24px; }
  .icon.icon--angle-small {
    height: 8px;
    width: 5px;
    margin-left: 5px;
    margin-bottom: 2px; }
  .icon.icon--download {
    height: 25px;
    width: 26px; }

.app-icon {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 22.5px;
  border: solid 1px rgba(0, 0, 0, 0.1); }

.hero {
  padding: 0 15px; }
  .hero .text-container {
    height: 115px;
    margin-left: 115px;
    position: relative; }
  .hero .app-icon {
    margin-left: -115px;
    margin-bottom: -100px; }
  .hero .app-title {
    margin-right: 30px;
    max-height: 44px;
    overflow: hidden; }
  .hero .age-guide {
    position: absolute;
    top: 23px;
    right: 0px;
    display: block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 3px;
    font-size: 12px;
    margin-left: 10px; }
  .hero .app-maker {
    font-size: 14px; }
  .hero .bottom-row {
    position: absolute;
    top: auto;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    .hero .bottom-row .stars {
      color: #aaa;
      font-size: 13px; }
      .hero .bottom-row .stars:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 9px;
        width: 48px;
        margin-right: 5px;
        background-image: url(../img/star-sprite.png);
        background-size: 48px 90px;
        background-position: 0px 0px;
        background-repeat: no-repeat; }
      .hero .bottom-row .stars.rating-2:before {
        background-position: 0px -9px; }
      .hero .bottom-row .stars.rating-3:before {
        background-position: 0px -18px; }
      .hero .bottom-row .stars.rating-4:before {
        background-position: 0px -27px; }
      .hero .bottom-row .stars.rating-5:before {
        background-position: 0px -36px; }
      .hero .bottom-row .stars.rating-0-5:before {
        background-position: 0px -45px; }
      .hero .bottom-row .stars.rating-1-5:before {
        background-position: 0px -54px; }
      .hero .bottom-row .stars.rating-2-5:before {
        background-position: 0px -63px; }
      .hero .bottom-row .stars.rating-3-5:before {
        background-position: 0px -72px; }
      .hero .bottom-row .stars.rating-4-5:before {
        background-position: 0px -81px; }

.tabs-spacer {
  height: 50px; }

.tabs-fixer {
  background-color: white;
  padding: 5px 0; }
  .tabs-fixer.fixed {
    position: fixed;
    top: -10px;
    right: 0px;
    left: 0px;
    z-index: 3; }

.tabs {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  border: solid 1px #878787;
  margin: 15px 15px 7px 15px;
  border-radius: 5px;
  font-size: 14px; }
  .tabs.fixed {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #fff;
    z-index: 4; }
  .tabs a {
    display: block;
    width: 33.333%;
    text-align: center;
    padding: 5px;
    color: #878787; }
    .tabs a.active {
      background-color: #878787;
      color: white; }
    .tabs a:nth-child(2) {
      border: 1px solid #878787;
      border-top: none;
      border-bottom: none; }

hr {
  border: none;
  border-top: solid 1px #ccc; }

.bottom-menu {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: center;
  font-size: 12px;
  text-align: center;
  background-color: #f5f5f6;
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 6px 0;
  border-top: 1px solid #acacac;
  z-index: 2; }
  .bottom-menu a {
    color: #929292; }
    .bottom-menu a.active {
      color: #007aff; }
  .bottom-menu img {
    height: 28px;
    width: 28px;
    margin-bottom: 3px; }

.content-area {
  padding-left: 15px;
  padding-bottom: 60px; }
  .content-area .description-text {
    overflow: hidden;
    position: relative; }
    .content-area .description-text .desc-more {
      position: absolute;
      right: 15px;
      bottom: 0px;
      font-size: 14px;
      color: #007aff;
      background: white;
      padding-left: 3px;
      cursor: pointer; }
  .content-area h4 {
    font-weight: normal;
    font-size: 18px;
    margin: 20px 0 10px 0;
    padding-right: 15px; }
  .content-area hr {
    border-top-color: #e5e5e5; }
  .content-area p {
    margin: 0 0 20px 0;
    padding-right: 15px;
    color: #666;
    font-size: 14px;
    line-height: 1.4; }
  .content-area .date {
    font-size: 16px;
    margin-top: -5px; }
  .content-area ul {
    padding: 0 15px; }
    .content-area ul li {
      color: #666;
      font-size: 14px;
      line-height: 1.4; }
  .content-area dl {
    font-size: 12px;
    line-height: 1.4; }
    .content-area dl:after {
      content: "";
      display: table;
      clear: both; }
    .content-area dl > * {
      float: left; }
    .content-area dl dt {
      color: #999;
      width: 80px;
      margin-right: -80px;
      clear: left;
      text-align: right; }
    .content-area dl dd {
      color: #333;
      margin: 0 0 5px 90px;
      padding-right: 15px; }
  .content-area .desc-links h4 {
    margin: 10px 0; }

.inset-scooch .m-scooch-photos {
  margin: 0px; }
.inset-scooch .m-scooch.m-fluid > .m-scooch-inner > * {
  width: 63%;
  margin: 0 10px 0 5px; }
.inset-scooch .m-scooch-photos .m-item > img {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2); }
.inset-scooch .m-scooch-bulleted a {
  display: none; }

.overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(235, 235, 235, 0.96);
  -webkit-transform: translateY(120%);
  -moz-transform: translateY(120%);
  -ms-transform: translateY(120%);
  -o-transform: translateY(120%);
  transform: translateY(120%);
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  transition: 400ms;
  z-index: 10; }
  .overlay.revealed {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }

.overlay-header {
  text-align: right;
  padding: 15px;
  border-bottom: solid 1px #ccc;
  background: #f8f8f8;
  margin-bottom: 20px; }

.overlay-scooch .m-scooch-photos {
  margin: 0px; }
.overlay-scooch .m-scooch.m-fluid > .m-scooch-inner > * {
  width: 75%;
  margin: 0 10px 0 5px; }
.overlay-scooch .m-scooch-photos .m-item > img {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2); }
.overlay-scooch .m-scooch-bulleted a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #ababac;
  padding: 4px; }
  .overlay-scooch .m-scooch-bulleted a.m-active {
    background: #007aff; }
