@import '../../../css/plugins/plugin-dir'
@import 'font'


body.tools-article
  background-color: white

  .bunny
    background: 
      image: url(../img/bunny2.png)
      size: cover
      position: center center
      repeat: no-repeat
    height: 70%
    width: 100%

  article
    position: relative
    max-width: 950px
    margin: 0 auto
    padding: 0 30px 100px
    +box-sizing(border-box)
  
  h2
    font:
      family: marker, sans-serif
      size: 120px
      weight: normal
    margin: -80px 0px 50px
    color: hsl(240, 36%, 28%)
    



  
@import '0-media-queries'
