<div class="ig-wrap"></div>
<div style="clear: both;"></div>
<button class="more-ig">Load More Photographs</button>


<script type="text/javascript">

$(function(){
    var
          insta_container = $(".ig-wrap")
        , insta_next_url

     insta_container.instagram({
          clientId : 'b8c79a38b742427fb0f88a202cee5b5a'
        , image_size: 'low_resolution'
        , userId: '267170'
        , accessToken: '267170.22c41e6.33b6300cde82438087d9377c8d62f9c5'  //'18360510.f59def8.d8d77acfa353492e8842597295028fd3'
        , show : 20
        , onComplete : function (photos, data) {
            insta_next_url = data.pagination.next_url
        }
     })

    $('button.more-ig').on('click', function(){
        var 
              button = $(this)
            , text = button.text()

        if (button.text() != 'Loading…'){
            button.text('Loading…')
            insta_container.instagram({
                  next_url : insta_next_url
                , show : 18
                , image_size: 'low_resolution'
                , onComplete : function(photos, data) {
                    insta_next_url = data.pagination.next_url
                    button.text(text)
                }
            })
        } 
    }) 
});

</script>