<div class="mailinglist-overlay hide">
	<i class="icon-tn-logo"></i>
	
	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
	
	  <div class="mailinglist-belt">
    	  
    	<div class="list-explain">
      	<p class="opener">Hi! Thanks for reading.</p>
      	<p>I don't post as often as other blogs, this is because my articles are designed individually, and take much more time to develop. I like it that way. I hope you do too.</p>
      	<p>Sometimes I send a happy little email to people who ask for it, it tells them when a new article has been posted. You should signup. ➜</p>
    	</div>
    	
    	<form action="http://travisneilson.us6.list-manage1.com/subscribe/post?u=2abae111d44df144b3b3986bc&amp;id=3422cb30c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    		
    		<p class="opener">Get a fun little note when I publish.</p>
    		
    		<input type="text" value="" name="NAME" class="name" id="mce-NAME" placeholder="First Name" required>
    		
    		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    		
    		<div class="clear">
    		
      		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    		  <span class="submit-note">~ No spiced ham, pinky-promise.</span>
    		
    		</div>
    		
    	</form>
	
	  </div><!--/.mailing-list-belt-->
	  
	  <div style="clear: both;"></div>
	
	</div><!--End mc_embed_signup-->
	
	<div class="mailinglist-close"><span><i>:(</i> close this message</span></div>
	

</div><!--End .mailinglist-overlay-->