<header class="home-header">
	<i class="icon-tn-logo"></i>
  <p class="main-blurb"><i class="icon-quotes-left"></i>
    I'm just trying to make something great before I die
    <!--$strings = array(
            'I design things and write about stuff.',
            'I make things and think about them.',
            'I made two humans, that was creative.',
            'I like to try new things, but not shaving.',
            'I used to breathe fire to entertain people.',
            'I like rootbeer, know that about me.',
            'I recently turned thirty, what a trip.',
            'I sold all my compact disks for about $35.',
            'I\'m just trying to make something great before I die',
          );
          $key = array_rand($strings);
          echo $strings[$key];-->
  </p>
  
  <nav>
    <ul>
      <li class="active"><a class="articles-link" href="#articles" onclick="_gaq.push(['_trackEvent', 'homeActions', 'view', 'clicked Articles']);return true;">Articles</a></li>
      <li><a class="work-link" href="#work" onclick="_gaq.push(['_trackEvent', 'homeActions', 'view', 'clicked Work']);return true;">Work</a></li>
      <!--<li><a class="taste-link" href="#taste">Taste</a></li>-->
      <li><a class="photos-link" href="#photos" onclick="_gaq.push(['_trackEvent', 'homeActions', 'view', 'clicked Photos']);return true;">Photographs</a></li>
      <li><a class="about-link" href="#about" onclick="_gaq.push(['_trackEvent', 'homeActions', 'view', 'clicked About']);return true;">Biography</a></li>
      <!--<li><a href="">Contact</a></li>-->
    </ul>
    <span class="icon-caret-left"></span>
  </nav>
  
  <div class="mailinglist-small">
    <form action="http://travisneilson.us6.list-manage1.com/subscribe/post?u=2abae111d44df144b3b3986bc&amp;id=3422cb30c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>    	    	
    	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="mailing list!" required>
    </form>
  </div>
  
  <ul class="elsewheres">
    <!--<li><a href="http://underlin.es" target="_blank">Facebook</a></li>
    <li><a href="http://underlin.es" target="_blank">Twitter</a></li>-->
    <!--<li><a href="http://underlin.es" target="_blank">Instagram</a></li>-->
    <!--<li><a href="http://dribbble.com/travisneilson" target="_blank">Dribbble</a></li>-->
    <!--<li><a href="http://www.behance.net/travisneilson" target="_blank">Behance</a></li>-->
    <!--<li><a href="http://underlin.es" target="_blank">Britely</a></li>-->
    <!--<li><a href="http://powbangzoom.tumblr.com">Pow. Bang. Zoom.</a></li>-->
    <!--<li><a href="http://underlin.es" target="_blank">Underlin.es</a></li>-->
    <!--<li><a href="http://twitter.com/#!/designretweets" target="_blank">Design Retweets</a></li>-->
    <li><a href="mailto:travisneilson@gmail.com?subject=Travis,%20You%20are%20the%20cuterist!">+ email me</a></li>
    
  </ul>
  
</header>