@charset "UTF-8";
/*-----------------------------------*\

  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/
.grid {
  list-style: none;
  margin-left: -20px; }

.grid__col--2-of-2, .grid__col--3-of-3, .grid__col--4-of-4, .grid__col--5-of-5, .grid__col--6-of-6, .grid__col--8-of-8, .grid__col--12-of-12 {
  width: 100%; }

.grid__col--1-of-2, .grid__col--2-of-4, .grid__col--3-of-6, .grid__col--4-of-8, .grid__col--6-of-12 {
  width: 50%; }

.grid__col--1-of-3, .grid__col--2-of-6, .grid__col--4-of-12 {
  width: 33.3333333333%; }

.grid__col--2-of-3, .grid__col--4-of-6, .grid__col--8-of-12 {
  width: 66.6666666667%; }

.grid__col--1-of-4, .grid__col--2-of-8, .grid__col--3-of-12 {
  width: 25%; }

.grid__col--3-of-4, .grid__col--6-of-8, .grid__col--9-of-12 {
  width: 75%; }

.grid__col--push-2-of-2, .grid__col--push-3-of-3, .grid__col--push-4-of-4, .grid__col--push-5-of-5, .grid__col--push-6-of-6, .grid__col--push-8-of-8, .grid__col--push-12-of-12 {
  margin-left: 100%; }

.grid__col--push-1-of-2, .grid__col--push-2-of-4, .grid__col--push-3-of-6, .grid__col--push-4-of-8, .grid__col--push-6-of-12 {
  margin-left: 50%; }

.grid__col--push-1-of-3, .grid__col--push-2-of-6, .grid__col--push-4-of-12 {
  margin-left: 33.3333333333%; }

.grid__col--push-2-of-3, .grid__col--push-4-of-6, .grid__col--push-8-of-12 {
  margin-left: 66.6666666667%; }

.grid__col--push-1-of-4, .grid__col--push-2-of-8, .grid__col--push-3-of-12 {
  margin-left: 25%; }

.grid__col--push-3-of-4, .grid__col--push-6-of-8, .grid__col--push-9-of-12 {
  margin-left: 75%; }

.grid__col--pull-2-of-2, .grid__col--pull-3-of-3, .grid__col--pull-4-of-4, .grid__col--pull-5-of-5, .grid__col--pull-6-of-6, .grid__col--pull-8-of-8, .grid__col--pull-12-of-12 {
  margin-left: -100%; }

.grid__col--pull-1-of-2, .grid__col--pull-2-of-4, .grid__col--pull-3-of-6, .grid__col--pull-4-of-8, .grid__col--pull-6-of-12 {
  margin-left: -50%; }

.grid__col--pull-1-of-3, .grid__col--pull-2-of-6, .grid__col--pull-4-of-12 {
  margin-left: -33.3333333333%; }

.grid__col--pull-2-of-3, .grid__col--pull-4-of-6, .grid__col--pull-8-of-12 {
  margin-left: -66.6666666667%; }

.grid__col--pull-1-of-4, .grid__col--pull-2-of-8, .grid__col--pull-3-of-12 {
  margin-left: -25%; }

.grid__col--pull-3-of-4, .grid__col--pull-6-of-8, .grid__col--pull-9-of-12 {
  margin-left: -75%; }

.grid__col--1-of-5 {
  width: 20%; }

.grid__col--push-1-of-5 {
  margin-left: 20%; }

.grid__col--pull-1-of-5 {
  margin-left: -20%; }

.grid__col--2-of-5 {
  width: 40%; }

.grid__col--push-2-of-5 {
  margin-left: 40%; }

.grid__col--pull-2-of-5 {
  margin-left: -40%; }

.grid__col--3-of-5 {
  width: 60%; }

.grid__col--push-3-of-5 {
  margin-left: 60%; }

.grid__col--pull-3-of-5 {
  margin-left: -60%; }

.grid__col--4-of-5 {
  width: 80%; }

.grid__col--push-4-of-5 {
  margin-left: 80%; }

.grid__col--pull-4-of-5 {
  margin-left: -80%; }

.grid__col--1-of-6 {
  width: 16.6666666667%; }

.grid__col--push-1-of-6 {
  margin-left: 16.6666666667%; }

.grid__col--pull-1-of-6 {
  margin-left: -16.6666666667%; }

.grid__col--5-of-6 {
  width: 83.3333333333%; }

.grid__col--push-5-of-6 {
  margin-left: 83.3333333333%; }

.grid__col--pull-5-of-6 {
  margin-left: -83.3333333333%; }

.grid__col--1-of-8 {
  width: 12.5%; }

.grid__col--push-1-of-8 {
  margin-left: 12.5%; }

.grid__col--pull-1-of-8 {
  margin-left: -12.5%; }

.grid__col--3-of-8 {
  width: 37.5%; }

.grid__col--push-3-of-8 {
  margin-left: 37.5%; }

.grid__col--pull-3-of-8 {
  margin-left: -37.5%; }

.grid__col--5-of-8 {
  width: 62.5%; }

.grid__col--push-5-of-8 {
  margin-left: 62.5%; }

.grid__col--pull-5-of-8 {
  margin-left: -62.5%; }

.grid__col--7-of-8 {
  width: 87.5%; }

.grid__col--push-7-of-8 {
  margin-left: 87.5%; }

.grid__col--pull-7-of-8 {
  margin-left: -87.5%; }

.grid__col--1-of-12 {
  width: 8.3333333333%; }

.grid__col--push-1-of-12 {
  margin-left: 8.3333333333%; }

.grid__col--pull-1-of-12 {
  margin-left: -8.3333333333%; }

.grid__col--2-of-12 {
  width: 16.6666666667%; }

.grid__col--push-2-of-12 {
  margin-left: 16.6666666667%; }

.grid__col--pull-2-of-12 {
  margin-left: -16.6666666667%; }

.grid__col--5-of-12 {
  width: 41.6666666667%; }

.grid__col--push-5-of-12 {
  margin-left: 41.6666666667%; }

.grid__col--pull-5-of-12 {
  margin-left: -41.6666666667%; }

.grid__col--7-of-12 {
  width: 58.3333333333%; }

.grid__col--push-7-of-12 {
  margin-left: 58.3333333333%; }

.grid__col--pull-7-of-12 {
  margin-left: -58.3333333333%; }

.grid__col--10-of-12 {
  width: 83.3333333333%; }

.grid__col--push-10-of-12 {
  margin-left: 83.3333333333%; }

.grid__col--pull-10-of-12 {
  margin-left: -83.3333333333%; }

.grid__col--11-of-12 {
  width: 91.6666666667%; }

.grid__col--push-11-of-12 {
  margin-left: 91.6666666667%; }

.grid__col--pull-11-of-12 {
  margin-left: -91.6666666667%; }

.grid__col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  @media (max-width: 700px) and (min-width: 480px) {
    .grid__col[class*="grid__col--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--m-1-of-2, .grid__col.grid__col--m-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--m-1-of-3 {
      width: 33.3333333333%; }
    .grid__col.grid__col--m-2-of-3 {
      width: 66.6666666667%; }
    .grid__col.grid__col--m-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 480px) {
    .grid__col[class*="grid__col--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--s-1-of-2, .grid__col.grid__col--s-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--s-1-of-3 {
      width: 33.3333333333%; }
    .grid__col.grid__col--s-2-of-3 {
      width: 66.6666666667%; }
    .grid__col.grid__col--s-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--s-3-of-4 {
      width: 75%; } }

.grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.grid__col--d-first {
  float: left; }

.grid__col--d-last {
  float: right; }

.grid--no-gutter {
  margin-left: 0;
  width: 100%; }
  .grid--no-gutter .grid__col {
    padding-left: 0; }
  .grid--no-gutter .grid__col--span-all {
    margin-left: 0;
    width: 100%; }

.grid__col--ab {
  vertical-align: bottom; }

.grid__col--am {
  vertical-align: middle; }

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

img {
  max-width: 100%; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

a {
  color: #5f60d2;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #3839c6; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

h2 {
  font-weight: 300;
  font-size: 28px; }

.text-lead {
  font-size: 18px;
  font-weight: 400; }

.text-heavy {
  font-size: 16px;
  color: #404040;
  line-height: 1.3; }

.text-power {
  font-size: 20px;
  color: #404040;
  font-weight: 300; }

.text-helper {
  font-size: 12px;
  margin: 0; }

.text-centered {
  text-align: center; }

.text-active {
  color: #5f60d2; }

.text-muted {
  color: #7f7f7f; }

.text-green {
  color: #00c853; }

.no-break {
  white-space: nowrap; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-size: 16px;
  padding: 4px 15px;
  text-align: center;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 200px;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
  .button:disabled, .button:disabled:hover,
  button:disabled,
  button:disabled:hover,
  input[type="submit"]:disabled,
  input[type="submit"]:disabled:hover,
  input[type="reset"]:disabled,
  input[type="reset"]:disabled:hover,
  input[type="button"]:disabled,
  input[type="button"]:disabled:hover {
    border: 1px solid #bdbdbd;
    color: #bdbdbd; }
  .button.button--white,
  button.button--white,
  input[type="submit"].button--white,
  input[type="reset"].button--white,
  input[type="button"].button--white {
    border-color: white;
    color: white;
    -webkit-transition: none;
            transition: none; }
    .button.button--white:hover,
    button.button--white:hover,
    input[type="submit"].button--white:hover,
    input[type="reset"].button--white:hover,
    input[type="button"].button--white:hover {
      box-shadow: 0px 0px 0px 1px white inset; }
  .button.button--active,
  button.button--active,
  input[type="submit"].button--active,
  input[type="reset"].button--active,
  input[type="button"].button--active {
    color: #5f60d2;
    border: 2px solid #5f60d2;
    padding: 3px 14px; }
    .button.button--active path,
    button.button--active path,
    input[type="submit"].button--active path,
    input[type="reset"].button--active path,
    input[type="button"].button--active path {
      fill: #5f60d2;
      -webkit-transition: all 200ms ease-in-out;
              transition: all 200ms ease-in-out; }
    .button.button--active:hover,
    button.button--active:hover,
    input[type="submit"].button--active:hover,
    input[type="reset"].button--active:hover,
    input[type="button"].button--active:hover {
      background: #5f60d2;
      color: white; }
      .button.button--active:hover path,
      button.button--active:hover path,
      input[type="submit"].button--active:hover path,
      input[type="reset"].button--active:hover path,
      input[type="button"].button--active:hover path {
        fill: white; }
  .button.button--impact,
  button.button--impact,
  input[type="submit"].button--impact,
  input[type="reset"].button--impact,
  input[type="button"].button--impact {
    background-color: #5f60d2;
    color: white;
    border-color: #5f60d2; }
    .button.button--impact:hover,
    button.button--impact:hover,
    input[type="submit"].button--impact:hover,
    input[type="reset"].button--impact:hover,
    input[type="button"].button--impact:hover {
      background-color: #4c4da8;
      border-color: #4c4da8; }
  .button.button--neutral,
  button.button--neutral,
  input[type="submit"].button--neutral,
  input[type="reset"].button--neutral,
  input[type="button"].button--neutral {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    color: black; }
    .button.button--neutral:hover, .button.button--neutral:focus,
    button.button--neutral:hover,
    button.button--neutral:focus,
    input[type="submit"].button--neutral:hover,
    input[type="submit"].button--neutral:focus,
    input[type="reset"].button--neutral:hover,
    input[type="reset"].button--neutral:focus,
    input[type="button"].button--neutral:hover,
    input[type="button"].button--neutral:focus {
      background-color: #d5d5d5;
      border-color: #d5d5d5; }
  .button.button--warning,
  button.button--warning,
  input[type="submit"].button--warning,
  input[type="reset"].button--warning,
  input[type="button"].button--warning {
    background-color: #f44336;
    border-color: #f44336;
    color: white; }
    .button.button--warning:hover,
    button.button--warning:hover,
    input[type="submit"].button--warning:hover,
    input[type="reset"].button--warning:hover,
    input[type="button"].button--warning:hover {
      background-color: #E03F34;
      border-color: #E03F34; }
  .button.button--yellow,
  button.button--yellow,
  input[type="submit"].button--yellow,
  input[type="reset"].button--yellow,
  input[type="button"].button--yellow {
    background-color: #ffc400;
    border-color: #ffc400;
    color: black; }
    .button.button--yellow:hover,
    button.button--yellow:hover,
    input[type="submit"].button--yellow:hover,
    input[type="reset"].button--yellow:hover,
    input[type="button"].button--yellow:hover {
      background-color: #ffd200; }
    .button.button--yellow:active,
    button.button--yellow:active,
    input[type="submit"].button--yellow:active,
    input[type="reset"].button--yellow:active,
    input[type="button"].button--yellow:active {
      background-color: #f1bb06; }
  .button.button--svg-icon-right,
  button.button--svg-icon-right,
  input[type="submit"].button--svg-icon-right,
  input[type="reset"].button--svg-icon-right,
  input[type="button"].button--svg-icon-right {
    display: inline-block;
    padding-left: 30px; }
    .button.button--svg-icon-right svg,
    button.button--svg-icon-right svg,
    input[type="submit"].button--svg-icon-right svg,
    input[type="reset"].button--svg-icon-right svg,
    input[type="button"].button--svg-icon-right svg {
      display: inline-block;
      vertical-align: middle;
      height: 60px; }
  .button.button--extra-padding,
  button.button--extra-padding,
  input[type="submit"].button--extra-padding,
  input[type="reset"].button--extra-padding,
  input[type="button"].button--extra-padding {
    padding: 4px 30px; }
  .button-group .button, .button-group
  button, .button-group
  input[type="submit"], .button-group
  input[type="reset"], .button-group
  input[type="button"] {
    margin: 0 10px; }

.input-group {
  margin-bottom: 20px;
  position: relative; }

label, .label {
  display: block;
  font-size: 12px;
  color: #999; }

input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 0;
  font-size: 16px;
  -webkit-appearance: none;
  background: none;
  border-radius: 0px; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  select:focus {
    outline: none;
    border-bottom-color: #5f60d2;
    box-shadow: 0px 1px 0px #5f60d2; }

.select-group {
  position: relative; }
  .select-group:after {
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #999;
    margin-top: 5px;
    pointer-events: none; }

select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: ""; }

select::-ms-expand {
  display: none; }

.checkbox-group {
  position: relative; }
  .checkbox-group label {
    cursor: pointer;
    color: #333; }
    .checkbox-group label input[type="checkbox"] {
      display: none; }
      .checkbox-group label input[type="checkbox"] + .label-text:before {
        content: "off";
        content: url(../img/icon-unchecked.svg);
        margin-right: 0.5em;
        width: 1.5em;
        display: inline-block;
        position: relative;
        top: 0.1em;
        vertical-align: middle; }
      .checkbox-group label input[type="checkbox"]:checked + .label-text:before {
        content: "on";
        content: url(../img/icon-checked.svg); }
      .checkbox-group label input[type="checkbox"]:disabled + .label-text {
        color: #999;
        cursor: default; }
        .checkbox-group label input[type="checkbox"]:disabled + .label-text:before {
          content: "";
          color: #ccc; }

.msg-error {
  font-size: 12px;
  color: #f44336;
  position: absolute; }

.input-switch {
  height: 20px;
  width: 40px;
  background: #f2f2f2;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  position: relative;
  -webkit-transition: background 200ms ease-in-out;
          transition: background 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset; }
  .input-switch:after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -webkit-transition: left 200ms ease-in-out;
            transition: left 200ms ease-in-out; }
  .input-switch.switch-is-on {
    background: #00c853; }
    .input-switch.switch-is-on:after {
      left: 15px; }
