.flexed-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.flexed-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .page-registration .flexed-body {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

.flexed-centering-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: calc(100vh - 115px); }

header {
  height: 80px;
  background-color: #5f60d2;
  color: white;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  header .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .logo .text {
      margin-left: 15px;
      font-size: 18px; }
    header .logo .unread-count {
      margin-left: 25px;
      background: #46479c;
      background: #4c4da8;
      border-radius: 200px;
      padding: 0px 10px; }
  header .back-link {
    color: white;
    font-size: 18px;
    text-transform: uppercase; }
    header .back-link svg {
      display: inline-block;
      position: relative;
      top: 2px;
      right: 0px;
      margin-right: 10px;
      -webkit-transition: right 200ms ease-in-out;
              transition: right 200ms ease-in-out; }
    header .back-link:hover svg {
      right: 3px; }
  header .top-control .prompt {
    color: rgba(255, 255, 255, 0.7);
    margin-right: 20px; }
  header .user-control {
    position: relative;
    cursor: pointer;
    line-height: 1.2;
    padding-right: 15px; }
    header .user-control:after {
      content: "";
      display: block;
      position: absolute;
      right: 0px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #46479c;
      border-top: 5px solid #4c4da8; }
    header .user-control .user-name {
      font-size: 18px; }
    header .user-control .user-phone-number {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7); }
  @media (max-width: 640px) {
    header .prompt {
      display: none; }
    header .logo .text {
      font-size: 14px; } }

footer {
  background-color: rgba(0, 0, 0, 0.13);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54); }
  footer a {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    margin-left: 30px; }
    footer a:hover {
      color: rgba(0, 0, 0, 0.8); }
  footer .social-link-circle-wrap {
    white-space: nowrap;
    display: inline-block; }
  footer .social-link-circle svg {
    background: #a1a1a1;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: -5px 0; }
    footer .social-link-circle svg path {
      fill: #d9d9d9; }
  footer .social-link-circle:last-child {
    margin-left: 10px; }
  .view-welcome footer .social-link-circle svg {
    background: white; }
    .view-welcome footer .social-link-circle svg path {
      fill: black; }
  @media (max-width: 640px) {
    footer .social-link-circle-wrap {
      display: block; }
    footer .links a {
      margin: 15px 15px 0; } }
  @media (max-width: 640px) {
    footer {
      display: block;
      text-align: center; }
      footer a {
        display: inline-block;
        margin-top: 15px; } }

.big-social-actions {
  background: #fafafa;
  padding: 50px 40px 30px;
  text-align: center; }
  .big-social-actions .social-action-buttons {
    margin: 30px 0; }
    .big-social-actions .social-action-buttons a {
      display: inline-block;
      box-sizing: border-box;
      padding: 10px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 20px; }
      .big-social-actions .social-action-buttons a:last-child {
        margin-right: 0; }
      .big-social-actions .social-action-buttons a.social-action-button-facebook {
        border: 1px solid #3b5998; }
        .big-social-actions .social-action-buttons a.social-action-button-facebook path {
          fill: #3b5998; }
        .big-social-actions .social-action-buttons a.social-action-button-facebook:hover {
          background-color: #3b5998; }
          .big-social-actions .social-action-buttons a.social-action-button-facebook:hover path {
            fill: #fff; }
      .big-social-actions .social-action-buttons a.social-action-button-google-plus {
        border: 1px solid #dd4b39; }
        .big-social-actions .social-action-buttons a.social-action-button-google-plus path {
          fill: #dd4b39; }
        .big-social-actions .social-action-buttons a.social-action-button-google-plus:hover {
          background-color: #dd4b39; }
          .big-social-actions .social-action-buttons a.social-action-button-google-plus:hover path {
            fill: #fff; }

.overlay-tint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .overlay-tint.overlay--aligned-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .overlay-tint.overlay--aligned-top-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .overlay-tint .panel {
    padding: 40px 30px 20px;
    margin: 20px; }

.panel {
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-width: 300px; }
  .panel.panel--smaller {
    max-width: 270px;
    min-width: auto; }

.panel.option-list {
  padding: 20px 0; }

.option-list {
  min-width: auto;
  list-style: none;
  font-size: 16px;
  max-height: 320px;
  overflow: auto; }
  .option-list li {
    padding: 10px 30px;
    cursor: pointer; }
    .option-list li:hover {
      background: #f2f2f2; }
    .option-list li.is-selected {
      color: #5f60d2; }

.user-controls .option-desktop-notifications .text-helper {
  padding-right: 45px; }
.user-controls .option-desktop-notifications .input-switch {
  float: right;
  margin-left: 12px; }

.col-are-ads {
  width: 320px;
  min-width: 320px;
  background: #fafafa;
  border-left: 1px solid #f0f0f0;
  padding: 10px;
  box-sizing: border-box; }
  .col-are-ads .an-ad {
    width: 300px;
    height: 250px;
    margin-bottom: 10px;
    display: block; }
    @media (max-height: 610px) {
      .col-are-ads .an-ad:last-child {
        display: none; } }

.col-messages {
  width: 220px;
  min-width: 220px;
  background: #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col-messages .col-head {
    background: #4c4da8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px; }
    .col-messages .col-head .title {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      margin-left: 10px; }
    .col-messages .col-head .message-cta.button {
      padding: 8px 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .col-messages .message-unit-wrap {
    overflow: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .col-messages .message-unit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .col-messages .message-unit:hover {
      background: #f0f0f0; }
    .col-messages .message-unit .name {
      font-size: 16px;
      font-weight: 300;
      line-height: 60px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      padding-left: 30px;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .col-messages .message-unit.has-unread .name {
      font-weight: 800; }
    .col-messages .message-unit.has-unread .unread-count {
      color: white;
      background: #4c4da8;
      border-radius: 200px;
      margin: 0 15px 0 10px;
      padding: 0 8px; }
    .col-messages .message-unit.is-active {
      background: #e9e9e9;
      position: relative;
      box-shadow: 6px 0px #afafe8 inset; }
      .col-messages .message-unit.is-active:after {
        content: "";
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #adadad;
        -webkit-transition: -webkit-transform 200ms ease-in-out;
                transition: transform 200ms ease-in-out; }
    .col-messages .message-unit.is-active.is-open:after {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .col-messages .message-unit.is-new:after {
      display: none; }
    .col-messages .message-unit.is-new .close-icon {
      background: url(../img/icon-close-alt.svg) no-repeat center;
      border: none;
      width: 20px;
      height: 20px;
      opacity: 0.25;
      margin-right: 10px; }
      .col-messages .message-unit.is-new .close-icon:hover {
        opacity: 0.5; }
    .col-messages .message-unit.is-new .name {
      line-height: 1.2;
      font-weight: bold;
      padding: 20px 0px 20px 30px; }
    .col-messages .message-unit.is-new .new-message-label {
      display: block; }
  .col-messages .message-unit-options {
    background: #e9e9e9;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 6px 0px #afafe8 inset;
    -webkit-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
    height: 0px;
    overflow: hidden; }
    .col-messages .message-unit-options li {
      padding: 5px 0 5px 30px;
      cursor: pointer;
      color: #000; }
      .col-messages .message-unit-options li:hover {
        background: #dddddd;
        box-shadow: 6px 0px #afafe8 inset; }
  .col-messages .message-unit.is-open + .message-unit-options {
    height: 138px; }

.col-convo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  background: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  min-width: 484px; }

.new-message-to-form-wrap + .convo-wrap {
  padding-top: 70px; }

.compose-entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  margin: 0 20px;
  border-top: 1px solid #f2f2f2;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .compose-entry input[type="text"] {
    border-bottom: none;
    margin: 0 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .compose-entry input[type="text"]:focus {
      border-bottom: none;
      box-shadow: none; }
  .compose-entry .upload-img-target {
    cursor: pointer;
    opacity: 0.5; }
    .compose-entry .upload-img-target:hover {
      opacity: 1; }
    .compose-entry .upload-img-target svg {
      display: block; }
  .compose-entry .upload-thumb-chip {
    background: #f5f5f5;
    border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 135px;
    padding: 6px 0; }
    .compose-entry .upload-thumb-chip svg {
      display: block;
      margin: 0 10px; }
  .compose-entry .drag-to-upload-target {
    border: 4px dashed #f5f5f5;
    width: 100%;
    margin: -15px 0;
    box-sizing: border-box;
    height: 61px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #d2d2d2;
    font-size: 16px; }
    .compose-entry .drag-to-upload-target svg {
      margin-right: 10px; }

.convo-wrap {
  overflow: auto;
  padding: 0 20px; }
  .convo-wrap:before, .convo-wrap:after {
    content: ".";
    display: block;
    height: 20px;
    width: 100px;
    color: rgba(255, 255, 255, 0); }

.bubble-unit {
  padding-right: 100px; }
  .bubble-unit .name-date {
    font-size: 12px;
    font-style: italic;
    color: #757575; }
  .bubble-unit .bubble-content {
    font-size: 16px;
    margin-bottom: 20px; }
  .bubble-unit.user-bubble {
    text-align: right;
    padding-right: 0;
    padding-left: 100px; }
  .bubble-unit img {
    border-radius: 5px;
    display: block; }

.in-app-notification {
  background: #d9d9d9;
  padding: 0 20px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .in-app-notification .notification-text {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 17px; }
  .in-app-notification .notification-icon svg {
    display: block; }
  .in-app-notification .notification-close {
    cursor: pointer;
    opacity: 0.5; }
    .in-app-notification .notification-close:hover {
      opacity: 1; }

.new-message-to-form-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .new-message-to-form-wrap.overlay {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    z-index: 0; }
  .new-message-to-form-wrap .new-message-to-form {
    background: #fafafa;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1; }
  .new-message-to-form-wrap .new-message-to-input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0 10px; }
    .new-message-to-form-wrap .new-message-to-input input {
      border: none; }
      .new-message-to-form-wrap .new-message-to-input input:focus {
        border: none;
        box-shadow: none; }
  .new-message-to-form-wrap .new-message-to-close {
    opacity: 0.5;
    cursor: pointer; }
    .new-message-to-form-wrap .new-message-to-close:hover {
      opacity: 1; }
  .new-message-to-form-wrap .new-message-to-suggestion {
    position: relative;
    z-index: 1;
    background: white;
    margin: 0;
    padding: 0 0 0 50px;
    list-style: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); }
    .new-message-to-form-wrap .new-message-to-suggestion .new-message-to-suggestion {
      height: 80px;
      border-bottom: 1px solid #f2f2f2;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer; }
      .new-message-to-form-wrap .new-message-to-suggestion .new-message-to-suggestion:hover, .new-message-to-form-wrap .new-message-to-suggestion .new-message-to-suggestion.is-selected {
        background: #fafafa;
        padding-left: 50px; }
    .new-message-to-form-wrap .new-message-to-suggestion .autocomplete-snippet {
      font-weight: bold;
      color: #000; }
