.view-welcome .flexed-wrap {
  background-image: url(../img/welcome-bg.jpg);
  background-size: cover;
  background-position: center; }
.view-welcome footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.4); }
  .view-welcome footer a {
    color: white; }
.view-welcome .welcome-logo-textfree {
  width: 200px; }
.view-welcome .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .view-welcome .content .panel {
    width: 428px;
    text-align: center;
    padding: 50px 40px 30px; }
.view-welcome h2 {
  margin-bottom: 0;
  margin-top: 30px; }
.view-welcome .kicker {
  font-size: 18px;
  color: black; }
.view-welcome .welcome-buttons {
  margin-top: 40px; }
  .view-welcome .welcome-buttons a {
    font-size: 18px;
    padding: 12px;
    width: 163px; }
    .view-welcome .welcome-buttons a:first-child {
      margin-right: 20px; }
