extends ../includes/_page-head

block vars
  - var page = 'music'
  - var prevlabel = 'podcasts'
  - var prevurl = '/podcasts'
  - var nextlabel = '& more'
  - var nexturl = '/more'
  - var paglabel = 'Other things to see...'

block content


  .container

    .row
      .col-8.pull-4.title-container
        include ../images/title-music.svg

    .row
      .col-9.push-2.pull-1.col-d-6.push-d-6.pull-d-0
        p <strong>During the pandemic I found a release</strong> for some of my stress and anxiety.
        p.d-hide I taught myself about electronic music and beat making.
    .row
      .col-d-8.pull-d-1.col-12
        div.videoWrapper(style="padding-bottom:50.25%;") <iframe width="560" height="315" src="https://www.youtube.com/embed/cBC0V-SoOd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .col-d-3
        p.hide.d-show I taught myself about electronic music and beat making.



    .section-spacer

    .row: .col-7.push-4.pull-1.col-d-4.push-d-1.pull-d-7
      .box-stripey(style="left: 20px")

    .row
      .col-9.push-2.pull-1.col-d-6.push-d-3.pull-d-3
        p A short video about the book...

    .row
      .col-9.push-2.pull-1.col-d-10.push-d-2.pull-d-0
        a.video-link(target="_blank" href="https://www.youtube.com/watch?v=wYSNwCNiTOE" onclick="ga('send', 'event', 'Note Link', 'Click', 'Video - I wrote a book');"): img.video-thumb(src="/images/book-video-cvr.jpg")


    .section-spacer


    .row: .col-5.push-1.pull-6.col-d-5.push-d-1.pull-d-6
      .box-decoration.past-notes-decoration

    .row
      .col-9.push-2.pull-1.col-d-5.push-d-2.pull-d-5
        p A few of my favorite notes to be included in the book...

        ul.bulleted.spaced
          li: a( target="_blank" href="https://us6.campaign-archive.com/?u=2abae111d44df144b3b3986bc&id=d6657a0a85" onclick="ga('send', 'event', 'Note Link', 'Click', 'Ultimate Motivation');") Ultimate Motivation
          li: a( target="_blank" href="https://us6.campaign-archive.com/?u=2abae111d44df144b3b3986bc&id=e49e06cdf7&e=[UNIQID]" onclick="ga('send', 'event', 'Note Link', 'Click', 'Pillars of Creation');") The Pillars of Creation
          li: a( target="_blank" href="https://us6.campaign-archive.com/?u=2abae111d44df144b3b3986bc&id=43066ab0cb&e=[UNIQID]" onclick="ga('send', 'event', 'Note Link', 'Click', 'Work life balance is a joke');") Work-Life Balance is a Joke


    .section-spacer.hide

    include ../includes/_pagination.pug
