.section-about {
  outline: 1px solid red; }

.section-about .main-panel {
  max-width: 700px;
  margin-left: 170px;
  margin-top: 50px;
  padding-top: 55%;
  background-image: url(../img/travis-neilson.jpg); }
  @media (max-width: 599px) {
    .section-about .main-panel {
      margin-left: 0px;
      margin-right: 40px;
      padding-top: 0;
      height: 277px; } }
  @media (max-width: 430px) {
    .section-about .main-panel {
      height: 220px; } }
  .section-about .main-panel .title {
    width: 605px;
    top: -22px;
    left: 172px;
    transition: width 300ms ease-in-out, left 300ms ease-in-out; }
    @media (max-width: 1032px) {
      .section-about .main-panel .title {
        left: -40px;
        width: 550px; } }
    @media (max-width: 780px) {
      .section-about .main-panel .title {
        left: -40px;
        width: 400px;
        top: -50px; } }
    @media (max-width: 430px) {
      .section-about .main-panel .title {
        width: 310px; } }
  .section-about .main-panel .blurb {
    width: 290px;
    margin-left: -78px;
    top: 224px; }
    @media (max-width: 599px) {
      .section-about .main-panel .blurb {
        margin-left: 40px;
        margin-right: -40px;
        width: auto;
        background: white;
        padding: 20px;
        box-shadow: 0px 40px 34px -30px rgba(0, 0, 0, 0.2); } }
    @media (max-width: 430px) {
      .section-about .main-panel .blurb {
        top: 200px; } }
  .section-about .main-panel .cta {
    position: absolute;
    top: 100%;
    left: 80px;
    margin-top: -15px; }
    @media (max-width: 1000px) {
      .section-about .main-panel .cta {
        display: none; } }
  @media (max-width: 599px) {
    .section-about .main-panel .section-number {
      display: none; } }
