.icon-menu
  include ../images/menu-icon.svg

.site-menu-overlay.hidden

.icon-menu-close.hidden
  include ../images/icon-close.svg

.site-menu.hidden
  ul
    li: a(href="/" class="special-link") Hom<span>e</span>
    li: a(href="/videos" class="special-link") Video<span>s</span>
    li: a(href="/speaking" class="special-link") Speakin<span>g</span>
    li: a(href="/podcasts" class="special-link") Podcast<span>s</span>
    li: a(href="/writings" class="special-link") Writing<span>s</span>
    li: a(href="/more" class="special-link") Mor<span>e</span>
