.icon-menu
  include ../images/menu-icon.svg

.site-menu-overlay.hidden

.icon-menu-close.hidden
  include ../images/icon-close.svg

.site-menu.hidden
  ul
    li: a(href="/").special-link Hom<span>e</span>
    li: a(href="/videos").special-link Video<span>s</span>
    li: a(href="/speaking").special-link Speakin<span>g</span>
    li: a(href="/podcasts").special-link Podcast<span>s</span>
    li: a(href="/writings").special-link Writing<span>s</span>
    li: a(href="/more").special-link Mor<span>e</span>
