.icon-menu
  include ../images/menu-icon.svg

.site-menu-overlay.hidden

.icon-menu-close.hidden
  include ../images/icon-close.svg

.site-menu.hidden
  ul
    li: a(href="/" class="special-link ga-event" data-event-category="Mobile Menu" data-event-label="Home") Hom<span>e</span>
    li: a(href="/videos" class="special-link ga-event" data-event-category="Mobile Menu" data-event-label="Videos") Video<span>s</span>
    li: a(href="/speaking" class="special-link ga-event" data-event-category="Mobile Menu" data-event-label="Speaking") Speakin<span>g</span>
    li: a(href="/podcasts" class="special-link ga-event" data-event-category="Mobile Menu" data-event-label="Podcasts") Podcast<span>s</span>
    li: a(href="/writings" class="special-link ga-event" data-event-category="Mobile Menu" data-event-label="Writings") Writing<span>s</span>
    li: a(href="/more" class="special-link ga-event" data-event-category="Mobile Menu" data-event-label="More") Mor<span>e</span>
