block vars

doctype html
html(class="page-#{page}")
  head
    
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-4841651-7')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-4841651-7');
    
    script(type="text/javascript").
      var trackClickEvent = function () {
      var eventCategory = this.getAttribute("data-event-category");
      var eventAction = this.getAttribute("data-event-action");
      var eventLabel = this.getAttribute("data-event-label");
      var eventValue = this.getAttribute("data-event-value");
      ga('send', 'event', eventCategory, (eventAction != undefined && eventAction != '' ? eventAction : 'click'), eventLabel, eventValue);
      };
      var elementsToTrack = document.getElementsByClassName("ga-event");
      var elementsToTrackLength = elementsToTrack.length;
      for (var i = 0; i < elementsToTrackLength; i++) {
      elementsToTrack[i].addEventListener('click', trackClickEvent, false);
      }
      
    meta(charset='utf-8')
    title Travis Neilson dot com
    meta(name='description', content='Travis specializes in making things for human people.')
    meta(name='author', content='Travis Neilson')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
  body
    .page-border-decoration
    include ./_menu.jade
    
    block content

  script(src="/js/zepto.js")
  script(src="/js/functions.js")
