block vars

doctype html
html(class="page-#{page}")
  head
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4841651-7', 'auto');
      ga('send', 'pageview');
    
      
    meta(charset='utf-8')
    title Travis Neilson dot com
    meta(name='description', content='Travis specializes in making things for human people.')
    meta(name='author', content='Travis Neilson')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
  body
    .page-border-decoration
    include ./_menu.jade
    
    block content

  script(src="/js/zepto.js")
  script(src="/js/functions.js")
